/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
.nav{
    margin-bottom: 20px;
}

#search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#search-input {
    padding: 10px;
    border: 4px solid #2e95b7;
    border-radius: 8px;
    width: 170px;
    height: 30px;
}

#search-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1px 20px;
    margin-left: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #45a049;
}


header {
    color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    padding: 0 15px;
}

header ul li a {
    color: #000000;
    text-decoration: none;
}

.menu {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
    text-align: center;
    align-items: center;
}

.logo {
    margin-left: -5%;
    height: 30px;
}

.accede-btn {
    border: 2px solid #3498db;
    background-color: #FFFFFF;
    color: #3498db;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 40%;
}

.accede-btn:hover {
    background-color: #3498db;
    color: #FFFFFF;
}

.registro-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2%;
}

.registro-btn:hover {
    background-color: #2980b9;
}

nav {
    background-color: #9c9c9c;
    width: 20%;
    height: 60vh;
    padding: 20px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 15%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin-right: 5px;
}

.category-checkbox {
    margin-right: 5px;
}

section {
    margin-left: 50%;
    margin-top: -20%;
}