.section-categoria {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con el mismo ancho */
    gap: 10px; /* Espacio entre elementos */
    padding: 10px; /* Espaciado interno */
}

.categoria-nombre,
.categoria-descripcion {
    border: 1px solid gray; /* Borde para visualización */
    padding: 10px; /* Espaciado interno */
}