body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #ffffff;
    color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    padding: 0 15px;
}

header ul li a {
    color: #000000;
    text-decoration: none;
}

.menu {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
    text-align: center;
    align-items: center;
}

.logo {
    margin-left: -50%;
    height: 30px;
}

.cerrar-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 31%;
}

.cerrar-btn:hover {
    background-color: #2980b9;
}

.volver-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2%;
}

.volver-btn:hover {
    background-color: #2980b9;
}

#detalleA {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-nombre {
    font-size: 30px;
    margin-top: -11%;
    margin-left: 29%;
}

.section-descripcion {
    margin-top: -2%;
    margin-left: 29%;
}

.section-fecha {
    margin-bottom: 2%;
    margin-top: 3.7%;
    margin-left: 12%;
}

.section-salario {
    margin-bottom: 2%;
    margin-left: 12%;
}

.section-estatus {
    margin-left: 12%;
    margin-bottom: 2%;
}

.section-imagen {
    margin-left: 12%;
    margin-top: 2%;
    width: 120px;
}

#solicitar-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 71%;
}

#solicitar-btn:hover {
    background-color: #2980b9;
}


form {
    margin-top: 15%;
    margin-left: 26%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

#file{
    margin-left: 13%;
    width: 70%;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: rgba(52, 152, 219, 0.8);
    padding: 20px;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    color: #fff;
}

.cerrar {
    color: #fff;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.cerrar:hover {
    color: #000;
}


@media only screen and (max-width: 600px) {

    header {
        background-color: #ffffff;
        color: black;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    header ul {
        list-style-type: none;
        display: flex;
    }

    header ul li {
        padding: 0 15px;
    }

    header ul li a {
        color: #000000;
        font-size: 13px;
        display: flex;
        text-decoration: none;
        margin-top: 20%;
        margin-left: 5%;
    }

    .menu {
        margin-top: 4%;
    }

    .logo {
        margin-left: -30%;
        height: 40px;
    }

    .cerrar-btn {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 27%;
    }
    
    .cerrar-btn:hover {
        background-color: #2980b9;
    }

    #detalleU {
        max-width: 80%;
        margin: 50px auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .section-nombre {
        font-size: 26px;
        margin-top: -20%;
        margin-left: 28%;
    }

    .section-descripcion {
        margin-top: -5%;
        margin-left: 28%;
    }

    .section-fecha {
        margin-bottom: 2%;
        margin-top: 7.7%;
        margin-left: 2%;
    }

    .section-salario {
        margin-bottom: 2%;
        margin-left: 2%;
    }

    .section-estatus {
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .section-imagen {
        margin-left: 2%;
        margin-top: 2%;
        width: 120px;
    }

    .solicitar-btn {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 77%;
    }
    
    .solicitar-btn:hover {
        background-color: #2980b9;
    }
}