/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffffff;

}

header {
    background-color: #ffffff;
    color: black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    padding: 0 15px;
}

header ul li a {
    color: #000000;
    text-decoration: none;
}

.menu {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
    text-align: center;
    align-items: center;
}

.logo {
    margin-left: -32%;
    margin-bottom: -1%;
    height: 30px;
}

.volver-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: 2%;
}

.volver-btn:hover {
    background-color: #2980b9;
}

.accede-btn {
    border: 2px solid #3498db;
    background-color: #FFFFFF;
    color: #3498db;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 24%;
}

.accede-btn:hover {
    background-color: #3498db;
    color: #FFFFFF;
}

.registro-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1%;
}

.registro-btn:hover {
    background-color: #2980b9;
}

h2 {
    display: flex;
    width: 300%;
    margin-bottom: 10%;
    margin-left: 20%;
}

nav {
    width: 20%;
    height: 79vh;
    padding: 20px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 17%;
    margin-top: 1%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.rectangulo {
    background-color: rgba(52, 152, 219, 0.8);
    padding: 20px;
    margin-top: -5%;
    margin-left: 20%;
    height: 20%;
    width: 300%;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-box {
    display: flex;
    flex-direction: column;
    margin-top: -3%;
    margin-right: 10px;
}

.rectangulo .search-box input {
    color: grey;
    margin-right: 10px;
    border-radius: 5px;
    height: 40px;
    width: 267%;
    padding-left: 10px;
    padding-right: 20px;
}

.boton-buscar {
    background-color: orange;
    color: white;
    margin-left: 65%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-buscar:hover {
    background-color: darkorange;
}

#search {
    width: 390%;
}

section {
    margin-left: 20%;
    margin-top: 30%;
}

#vacantesTodos {
    margin-left: 15%;
    margin-top: -66.6%;
    width: 43%;
    color: rgb(0, 0, 0);
}

.section-vacante {
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 2%;
    margin-left: 1%;
}

.section-descripcion {
    margin-left: 27%;
}

.section-nombre {
    font-size: 23px;
    margin-top: -19%;
    margin-left: 27%;
}

.section-fecha {
    margin-bottom: 2%;
    margin-top: 2.7%;
    margin-left: 2%;
}

.section-salario {
    margin-bottom: 2%;
    margin-left: 2%;
}

.section-estatus {
    margin-left: 2%;
    margin-bottom: 2%;
}

.section-imagen {
    margin-left: 2%;
    margin-top: 2%;
    width: 120px;
}

.section-detalles {
    margin-left: 2%;
    margin-top: -1%;
    margin-bottom: 7%;
}

@media only screen and (max-width: 360px) {

    body {
        min-height: 100vh;
        background-color: #ffffff;
    }

    header {
        background-color: #ffffff;
        color: black;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul {
        list-style-type: none;
        display: flex;
    }

    header ul li {
        margin-top: 5px;
    }

    header ul li a {
        color: #000000;
        text-decoration: none;
        font-size: 10px;
    }

    .menu {
        margin-top: 0.5%;
    }

    .logo {
        margin-left: -15%;
        margin-top: 10px;
        height: 20px;
    }

    .accede-btn {
        border: 2px solid #3498db;
        background-color: #FFFFFF;
        color: #3498db;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 7px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: -2%;
    }

    .accede-btn:hover {
        background-color: #3498db;
        color: #FFFFFF;
    }

    .registro-btn {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 2%;
    }

    .registro-btn:hover {
        background-color: #2980b9;
    }

    nav {
        width: 25%;
        font-size: 10px;
        height: 79vh;
        padding: 20px;
        box-sizing: border-box;
        padding: 10px;
        margin-left: 8%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    h2 {
        display: flex;
        width: 500px;
        margin-top: -30%;
        margin-bottom: 50%;
        margin-left: -10%;
        font-size: 10px;
    }

    .rectangulo {
        background-color: rgba(52, 152, 219, 0.8);
        padding: 20px;
        margin-top: -40%;
        margin-left: -20%;
        height: 13%;
        width: 410%;
        border-radius: 10px;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-box {
        display: flex;
        flex-direction: column;
        height: 30px;
        width: 50px;
        margin-top: -33%;
        margin-right: 10px;
    }

    .etiqueta {
        display: block;
        width: 100%;
    }

    .rectangulo .search-box input {
        color: grey;
        margin-right: 10px;
        font-size: 10px;
        margin-top: 110%;
        border-radius: 5px;
        height: 40px;
        width: 90%;
        padding-left: 10px;
        padding-right: 20px;
    }

    .boton-buscar {
        background-color: orange;
        color: white;
        font-size: 7px;
        margin-top: 2%;
        margin-left: 52%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .boton-buscar:hover {
        background-color: darkorange;
    }

    section {
        margin-left: 15%;
        margin-top: 60%;
    }

    #vacantesTodos {
        margin-left: -15%;
        margin-top: -200.6%;
        width: 110%;
        color: rgb(0, 0, 0);
    }

    .section-vacante {
        height: 100%;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
        margin-left: 1%;
    }

    .section-descripcion {   
        margin-top: 0%;
        padding-right: 10px;
        margin-left: 41%;
        font-size: 9px;
    }
    
    .section-nombre{
        font-size: 13px ;
        margin-top: -23%;
        margin-left: 41%;
    }
    
    .section-fecha {
        margin-bottom: 2%;
        font-size: 9px;
        margin-top: 10%;
        margin-left: 2%;
    }

    .section-salario {
        margin-bottom: 2%;
        font-size: 9px;
        margin-left: 2%;
    }

    .section-estatus {
        margin-left: 2%;
        font-size: 9px;
        margin-bottom: 2%;
    }

    .section-imagen {
        margin-left: 2%;
        margin-top: 2%;
        padding-top: 10px;
        width: 120px;
    }

    .section-detalles {
        margin-left: 2%;
        font-size: 12px;
        margin-top: -1%;
        padding-bottom: 10px;
        margin-bottom: 7%;
    }
}


@media only screen and (min-width: 600px) and (max-width: 800px) {

    header {
        background-color: #ffffff;
        color: black;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul {
        list-style-type: none;
        display: flex;
    }

    header ul li {
        margin-top: 15px;
    }

    header ul li a {
        color: #000000;
        text-decoration: none;
    }

    .menu {
        margin-top: 1%;
    }

    .logo {
        margin-left: -10%;
        margin-top: 10px;
        height: 40px;
    }

    .accede-btn {
        border: 2px solid #3498db;
        background-color: #FFFFFF;
        color: #3498db;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 31%;
    }

    .accede-btn:hover {
        background-color: #3498db;
        color: #FFFFFF;
    }

    .registro-btn {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 2%;
    }

    .registro-btn:hover {
        background-color: #2980b9;
    }

    nav {
        width: 25%;
        font-size: 10px;
        height: 79vh;
        padding: 20px;
        box-sizing: border-box;
        padding: 10px;
        margin-left: 8%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    h2 {
        display: flex;
        width: 900%;
        margin-top: -10%;
        margin-bottom: 50%;
        margin-left: -20%;
        font-size: 20px;
    }

    .rectangulo {
        background-color: rgba(52, 152, 219, 0.8);
        padding: 20px;
        margin-top: -40%;
        margin-left: -20%;
        height: 20%;
        width: 410%;
        border-radius: 10px;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-box {
        display: flex;
        flex-direction: column;
        margin-top: -3%;
        margin-right: 10px;
    }

    .rectangulo .search-box input {
        color: grey;
        margin-right: 10px;
        border-radius: 5px;
        height: 40px;
        width: 300%;
        padding-left: 10px;
        padding-right: 20px;
    }

    .etiqueta {
        display: block;
        width: 100%;
    }

    .rectangulo .search-box input {
        color: grey;
        margin-right: 10px;
        margin-top: 1%;
        border-radius: 5px;
        height: 40px;
        width: 90%;
        padding-left: 10px;
        padding-right: 20px;
    }

    .boton-buscar {
        background-color: orange;
        color: white;
        margin-left: 67%;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .boton-buscar:hover {
        background-color: darkorange;
    }

    section {
        margin-left: 15%;
        margin-top: 60%;
    }

    #vacantesTodos {
        margin-left: -5%;
        margin-top: -114.6%;
        width: 90%;
        color: rgb(0, 0, 0);
    }

    .section-vacante {
        height: 100%;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-top: 2%;
        margin-left: 1%;
    }

    .section-descripcion {
        margin-top: 0%;
        margin-left: 23%;
        font-size: 13px;
    }

    .section-nombre {
        font-size: 23x;
        margin-top: -15%;
        margin-left: 23%;
    }

    .section-fecha {
        margin-bottom: 2%;
        font-size: 12px;
        margin-top: 6%;
        margin-left: 2%;
    }

    .section-salario {
        margin-bottom: 2%;
        font-size: 12px;
        margin-left: 2%;
    }

    .section-estatus {
        margin-left: 2%;
        font-size: 12px;
        margin-bottom: 2%;
    }

    .section-imagen {
        margin-left: 2%;
        font-size: 12px;
        margin-top: 2%;
        width: 120px;
    }

    .section-detalles {
        margin-left: 2%;
        font-size: 12px;
        margin-top: -1%;
        margin-bottom: 7%;
    }
}